<ion-view view-title="Students">
  <ion-content>

    <div ng-controller="academicCtrl">
      <form>
        <div class="list padding">
          <label class="item item-input">
            <input type="text" ng-model="SID" placeholder="SID">
          </label>
        </div>

        <div class="padding">
          <button class="button button-block button-positive" ng-click="getGPA()">Submit</button>
        </div>
      </form>

      <div ng-repeat="x in SID_and_GPA" class="padding">
        <p>Student Status</p>
        <p>Student ID: {{x.SID }}</P>
        <p>GPA: {{x.GPA}}</P>
        <p>Total Credits: {{x.cumulative_credit}}</p>
        <p>Academic Status: {{x.passing_status}}</p>
        <p>Reason: {{x.reason}}</p>
      </div>

    </div>


  </ion-content>
</ion-view>
