<ion-view view-title="Students">
  <ion-content ng-controller="readStudentController">

    <div class="row">
      <div class="col"><a class="button button-block button-positive" href="#/app/create_student">Create</a></div>
      <div class="col"><a class="button button-block button-positive" href="#/app/update_student">Update</a></div>
      <div class="col"><a class="button button-block button-positive" href="#/app/delete_student">Delete</a></div>
    </div>


    <ion-list>

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchItem">
      </label>

      <ion-item>
        <div class="row">
          <div class="col">SID</div>
          <div class="col">name</div>
          <div class="col">IID</div>
          <div class="col">major</div>
          <div class="col">degreeHeld</div>
          <div class="col">career</div>
        </div>
      </ion-item>
      <ion-item ng-repeat="x in model_object | filter: searchItem">
        <div class="row">
          <div class="col">{{ x.SID }}</div>
          <div class="col">{{ x.name}}</div>
          <div class="col">{{ x.IID}}</div>
          <div class="col">{{ x.major }}</div>
          <div class="col">{{ x.degreeHeld}}</div>
          <div class="col">{{ x.career }}</div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
